.footer 
{
    background: #fff;
}
.footer .infomation ul.list_container_infomation
{
    width: 100%;
    display: flex;
    justify-content:space-between;
    list-style: none;
}
.footer .infomation ul.list_container_infomation li.container_infomation_item
{
    width:250px;
    height:284px;
    text-align: left;
    overflow: hidden;
    
}
li.container_infomation_item
{
    font-size: 12px;
    line-height:16px;
    font-weight:normal;
    color: rgb(128,128,137);
}
.container_infomation_item .heading
{
    font-size:16px;
    line-height:24px;
    font-weight:500;
    color: rgb(56,56,61);
    margin-bottom:12px;
}
.container_infomation_item p.hot-line
{
    margin-bottom:8px;
}
.container_infomation_item p
{
    font-size:12px;
    line-height:16px;
    color: rgb(128,128,137);
}
.container_infomation_item p.hot-line a
{
    color: rgb(56,56,61);
    font-weight:500;
}
.container_infomation_item a.footer_links
{
    display:block;
    margin-bottom:8px;
    color: rgb(128,128,137);
}
.container_infomation_item .footer_links_title
{
    display: flex;
}
.container_infomation_item a.footer_links:hover
{
    text-decoration: underline;
}
.container_infomation_item .sub_titles{
    margin: 24px 0 12px;
}
.container_infomation_item .img_certification
{
    display: flex;
    width: 100%;
    gap:8px
}
.container_infomation_item .img_certification img
{
    height:36px;
}
.container_infomation_item .payment
{
    width:90%;
    margin-bottom: 12px;
    overflow: hidden;
}
.container_infomation_item .payment img
{
    width:100%;
    object-fit: cover;
}

.container_infomation_item .tiki_now
{
    display:block;
}
.container_infomation_item .tiki_now img
{
    height:40px;
}
.container_infomation_item .download
{
    display: flex;
    gap:8px
}
.container_infomation_item .download .download_qr
{
    width:80px;
    height:80px;
    object-fit: cover;
}
.container_infomation_item .download .download_link
{
    display: flex;
    flex-direction:column;
    width: 120px;
    justify-content:space-between;
}
.container_infomation_item .download .download_link img
{
    width:120px;
    height:36px;
    object-fit: cover;
}
